argparse==1.4.0
scvi-tools==1.1.0.post2
scanpy==1.9.8
muon==0.1.5
pathlib==1.0.1
tables==3.9.2
scrublet==0.2.3
pymde==0.1.18
scikit-misc==0.3.1
leidenalg==0.10.2
nvidia-cublas-cu12== 12.2.4.5
nvidia-cuda-cupti-cu12== 12.2.131
nvidia-cuda-nvrtc-cu12== 12.2.128
nvidia-cuda-runtime-cu12== 12.2.128
nvidia-cudnn-cu12== 8.9.4.25
nvidia-cufft-cu12== 11.0.8.91
nvidia-curand-cu12== 10.3.3.129
nvidia-cusolver-cu12== 11.5.1.129
nvidia-cusparse-cu12== 12.1.2.129
nvidia-nvtx-cu12== 12.2.128

